@charset "UTF-8";

.search_div {
    display: flex;
    width: 100%;
    background: white;
    border-radius: 0px;
    align-content: center;
    overflow: hidden;    
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(219, 219, 219); 
    
    
}


input{
    width: 30px;
	height: 36px;
	border: none;
	background: #ffffff;
	text-align: center;
	color: #000000;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

button{
    padding: 10px 15px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}


.search-result{
	width: 70%;
	margin: auto;
	margin-top: 100px;
}

.search-result p{
	font-size: 18px;
	font-weight: bold;	
}




.search {
  width: 100%;
  position: relative;
  display: flex;
  height: 100%; /* 부모 높이에 맞춤 */
  font-weight: bold; /* 굵게 설정 */
}

.searchTerm {
  width: 100%;
  border: none;
  padding: 10px 0 10px 0;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none; 
  text-align: left;
  font-weight: bold; /* 굵게 설정 */
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 30px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/

.section01{
    display: flex;
    font-size: 20px;
    padding: 5px;
    align-items: center;
   
}


.section02 {
    width: 90%;       
   
}

.wrap{
    height: 100%; /* 부모 높이에 맞춤 */
}

/* icon container*/

.section03{
    width: 3%;
    height: 40px;
    display: flex;
    justify-content: center; /* 가로 정렬 */
    align-items: center; /* 세로 정렬 */
    border: none;
  }
  
  .section03 i {
    font-size: 20px;
    color: #555;
  }
  
  .width-004{
  	width: 4%;
  }

  .container-spacebetween{  
        display: flex; /* Flexbox 사용 */
        justify-content: space-between; /* 양쪽 끝으로 배치 */
        align-items: center; /* 수직 가운데 정렬 */
        border: none;
  }

.icon-container{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center; /* 가로 정렬 */
    align-items: center; /* 세로 정렬 */
    border: none;

}


  
  
  
/*-------------------------select 태그 관련 css---------------------------- */

.custom-select select{
	justify-content: center; /* 가로 정렬 */
    align-items: center; /* 세로 정렬 */
    padding: 5px;
    border: 1px solid transparent;
    font-size: 18px;
    
    
}

/* 12.14 수정 */
.container-test{
	display: flex;
	align-items: center; /* 세로 정렬 */
}


.container-test .section1,
.container-test .section2 {
	height: 50px;
	display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */

}

.container-test .section1{
	width: 50px;
	justify-content: center; /* 가로 방향 가운데 정렬 */
    height: 50px; /* 고정 높이 */
	
}

.item {
	justify-content: center; /* 가로 정렬 */
    align-items: center; /* 세로 정렬 */
	
}

.settings-section{
	border-bottom: 1px solid rgb(218, 220, 224);
}










