<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.dataMapper">
	<select id="searchList" parameterType="String"
		resultType="com.smhrd.entity.search">
		SELECT
			tb_data_img.img_idx,
			tb_data_img.img_title,
			tb_user.user_nick,
			tb_object_img.created_at,
			tb_object_img.data_class,
			tb_data_img.img_id,
			first_img.img_url AS img_url
		FROM
			tb_data_img
		JOIN
			tb_user
		ON tb_data_img.user_id = tb_user.user_id
		JOIN
			tb_object_img
		ON tb_data_img.img_id = tb_object_img.img_id
		JOIN
			(SELECT
				img_id,
				img_url
			FROM
				tb_object_img
			WHERE
				(img_id, created_at) IN (
					SELECT
						img_id,
						MIN(created_at) AS earliest_time
					FROM
						tb_object_img
					GROUP BY
						img_id
					)
			) AS first_img
		ON tb_data_img.img_id = first_img.img_id
		WHERE
			tb_data_img.img_class = #{search};

	</select>
	
	<select id="myboardList" resultType="com.smhrd.entity.myBoard" parameterType="String">
      SELECT * FROM tb_data_img JOIN tb_user ON tb_data_img.user_id = tb_user.user_id WHERE tb_user.user_id = #{user_id}
   </select>
</mapper>